/* About Page */
.page-top {
    text-align: center;
    padding: 50px;
    margin-top: 10vh;
    width: 100%;
    height: auto;
    background-color: #D09683;
    color: #330000;
}

.page-top h1 {
    display: block;
    font-size: 32px;
    color: #330000;
    margin-bottom: 10px;
}

.page-top p {
    display: block;
    font-size: 16px;
    color: #330000;
    max-width: 600px;
    margin: 0 auto; 
}

/* About Section */
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 50px 20px;
    flex-wrap: wrap;
}

.about-text {
    max-width: 500px;
}

.about-text h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #330000;
}

.about-text p {
    font-size: 16px;
    color: #222;
    line-height: 1.6;
}

.about-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 50%;
}

/* Mission & Vision */
.mission-vision {
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
    padding: 40px 20px;
    flex-wrap: wrap;
}

.mission, .vision {
    max-width: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 10px 20px;
    padding: 20px 15px;
    border: 1px solid #D09683;
}

.mission h2, .vision h2 {
    font-size: 24px;
    color: #330000;
    margin-bottom: 20px;
}

.mission p, .vision p {
    font-size: 16px;
    color: #222;
}

/* Team Section */
.team-section {
    text-align: center;
    padding: 50px 20px;
}

.team-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #330000;
}

.team-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.team-member {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    border: 1px solid #D09683;
}

.team-member img {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
}

.team-member h3 {
    margin-top: 10px;
    font-size: 20px;
}

.team-member p {
    font-size: 14px;
    color: #777;
}

/* Responsive */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }
    
    .mission-vision {
        flex-direction: column;
    }
}
