header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color:#F5E6DA; 
    color: #330000;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

header h1 i{
    margin-right: 10px; 
    font-size: 28px; 
    color: #330000; 
}

header h1 {
    font-size: 24px;
    margin: 0;
    font-weight: 600;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #330000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

nav ul li a:hover {
    text-decoration: underline;
} 

.mobile{
    display: none;
    align-items: center;
 }

@media (max-width: 450px){

        #navbar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            position: fixed;
            top: 0;
            right: -300px; 
            height: 100vh;
            width: 300px;
            background-color: #F5E6DA;
            box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
            padding: 80px 0 0 10px;
            transition: right 0.3s ease-in-out; 
        }
        
        #navbar.active {
            right: 0px; 
        }

    nav li{
        margin-bottom: 25px;
    }

    .mobile{
        display: flex;
        align-items: center;
     }

     .mobile i{
        color: #330000;
        font-size: 24px;
        padding-left: 20px;
     }
}